a[href^="mailto"] {
	background: url(images/email.png) no-repeat 0 3px;
	padding-left: 1em;
}

a[href^="tel"] {
	background: url(images/call.png) no-repeat 0 3px;
	padding-left: 1em;
}

figure{
	overflow: hidden;
}

section{
	background-color: white;
	margin: 1em 15% 1em 15%;
	border: 1px solid gray;
}

#mainMenu{
	background-color: #283649;
	padding: 10px 0em 10px 75%;
	font-size: larger;
}
#copyright{
	color: white;
}
footer{
	margin: 1em 15% 1em 15%;
	background-color: #283649;
	padding: .5em;
	text-align: center;
}

.actions{
	background-color: #607D8B; 
	padding: .4em;
}

.actionEdit{
	background: url(images/edit.png) no-repeat 4px 3px;
}

.actionFlag{
	background: url(images/flag.png) no-repeat 4px 3px;
}
.actionEdit, .actionFlag{
	background-color: #FF3D00;
	padding: .1em 1em .1em 1.5em;
	border: 1px solid silver;
	border-radius: 5px;
}
a.actionEdit, a.actionFlag{
		text-decoration: none;
	color: white;
}
article div img{
	margin-top: 2em;
	margin-bottom: .5em;
	border: 2px solid silver;
	padding: .5em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h2{
	text-align: center;
}

section p{
margin: .5em;	
}

em{
	color: gray;
}

h3{
	/*link to the image missing*/
	background: url() repeat;
	color: white;
	padding: .4em 0em .4em .4em;
}

#secondaryMenu{
	background-color: #283649;
	/*padding-left:13%;*/
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: larger;
	margin: 0em 15% 1em 15%;
	text-align: center;
}

ul li{
	display:inline;
	padding-left: .5em;
}

ol {
	font-weight: bold;
	color: #FF3D00;
}

li span { 
	font-weight: normal;
	color: #283649;
}

h1{
	background: url(images/header-background.png) repeat;
/*	padding-left: 15%;*/
}

nav a, footer a{
	color: #FF3D00;
}

nav a:hover{
	color: white;
	background-color: #FF3D00;
	text-decoration: none;
	padding: .1em .1em;
	border: 1px solid silver;
	border-radius: 5px;
}

.title{
	color: white;
	font-size: x-large;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0em 15% 0em 15%;
	text-align: center;
}

#orange{
	color: #FF3D00;
}

body{
	background-color: #ECEFF1;
	color: #283649;
	font-family: "Alegreya SC";
}

details {
  border-radius: 3px;
  background: white;
  margin: 1em 0;
  padding: 0em 10px;
}

summary {
  background: #ECEFF1;
  color: #283649;
  border-radius: 3px;
  padding: 5px 10px;
  outline: none;
}
details[open] summary {
  background: #607D8B;
  color: #ECEFF1 ;
  border: 1px solid #283649;
}