.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.links ul {
  list-style-type: none;
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.links li {
	padding: 1px calc(1.5 * 5px);
	float: left;
}

.links li:not(:last-of-type) {
	border-right: 2px solid rgb(199, 196, 196);
  }

.school-and-awards li, .technical-skills-wrapper li {
  list-style-type: none;
}

.cs-location, .role, .title {
  display: flex;
  justify-content: space-between;
}

h4 a:hover,
.links a:hover {
  text-decoration: none;
  color: #ec701e;
}

body {
  margin-left: 100px;
  margin-right: 100px;
}

h2,
h3, h4, li {
  font-family: "Open Sans", sans-serif;
}

li,
h4 {
  font-family: "Montserrat", sans-serif;
}
