.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.links {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

h4 a:hover,
.links a:hover {
  text-decoration: none;
  color: #ec701e;
}

body {
  margin-left: 100px;
  margin-right: 100px;
}

h2,
h3 {
  font-family: "Open Sans", sans-serif;
}

li,
h4 {
  font-family: "Montserrat", sans-serif;
}
